<div *ngIf="firm" class="main-container">
  <div *ngIf="readyImage()">
    <ion-card class="firm-image">
      <img [src]="firm.images[0].base64" />
      <div class="firm-image-rate">
        <div class="firm-image-rate-text">
          <ion-icon src="/assets/svg/Group 1219.svg" class="toolbar-icon"></ion-icon>
          {{getFirmRate()}}
        </div>
      </div>
    </ion-card>
  </div>

  <div class="firm-detail">
    <p class="text-style-firm-title">{{firm.title}}</p>

    <ion-grid>
      <ion-row>
        <ion-col size="5">
          <p class="text-style-firm-description">Coffee, Tatlı</p>
        </ion-col>
        <ion-col size="7">
          <p class="text-style-firm-description">
            <ion-icon src="/assets/svg/shopping_basket-24px.svg" class="toolbar-icon"></ion-icon>
            Min. Sipariş Tutarı: ₺ {{getMinOrderPrice()}}
          </p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5">
          <p class="text-style-firm-description location">3 km yakınında</p>
        </ion-col>
        <ion-col size="7" style="display: flex">
          <p [class]="getFirmStatusClassName()" style="padding-right: 8px;">
            {{getFirmStatus()}}
          </p>
          <p class="text-style-firm-description">
            {{getFirmHours()}}
          </p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</div>