.main-container {
  background-color: white;
  margin-bottom: 48px;
}

.firm-detail {
  padding: 6px;
}

.text-style-firm-title {
  font-family: 'Montserrat';
  font-size: 18px;
  font-weight: 900;
}

.text-style-firm-description {
  font-family: 'Montserrat';
  font-size: 11px;
  font-weight: 900;
  color: grey;
}

.location {
  color: black !important;
}

.status-open {
  color: green;
}

.status-closed {
  color: red;
}

ion-grid {
  ion-row {
    height: 30px;
  }
}

ion-img::part(image) {
  border-radius: 10px;
}

img {
  width: 100%;
  height: 100%;
}

.firm-image {
  position: relative;
}

.firm-image-rate {
  font-family: 'Montserrat';
  font-weight: 900;
  width: 56px;
  height: 32px;
  position: absolute;
  z-index: 99;
  top: 10px;
  left: 10px;
  background: #B70014;
  color: #fff;
  border-radius: 12px;
  align-content: center;
}

.firm-image-rate-text {
  font-size: 11px;
  text-align: center;
}