ion-content {
  --padding-end: 12px;
  --padding-start: 12px;
  --ion-background-color: #F8F8F8;
  // --ion-background-color: yellow;
}

.toolbar-icon {
  font-size: 48px;
}

.toolbar-title {
  font-family: 'Montserrat', sans-serif !important;
  text-align: center;
}

.dom-content {
  margin: 12px 12px 12px 12px;
}

.dom-title {
  font-family: 'Montserrat', sans-serif !important;
  font-size: 14px;
  font-weight: 900;
}