<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="secondary">
      <ion-icon src="/assets/svg/Group_36267.svg" class="toolbar-icon"></ion-icon>
      <ion-icon src="/assets/svg/Group_36265.svg" class="toolbar-icon"></ion-icon>
    </ion-buttons>
    <ion-title class="toolbar-title">Ana Sayfa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h3 class="dom-title">Sonuçlar</h3>

  <ion-list>
    <app-firm-viewer *ngFor="let firm of firms" [firm]="firm"></app-firm-viewer>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>